<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Рецепты{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Моя Кулинарная Книга</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'add_recipe' %}">Добавить рецепт</a></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2024 Моя Кулинарная Книга
    </footer>
</body>
</html>
